/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
} 

/*HEADER SECTION*/

#header {
    background-image: url("./images/SMK-Background.gif");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav-bar-nav li a {
    float: right!important;
    color: #ffffff!important;
    margin-right: 20px;
    text-shadow: 1px 1px 5px #000000;
}

.navbar-brand img {
    width: 120px;
    margin-top: 30px;
    margin-top: 10px;
}

.nav-bar {
    background-color: #C6DA9F;
    color: #ffffff;
}

.navbar-toggler {
    margin-right: 20px;
    color: #ffffff;
    border: none!important;
    outline: none!important;
}
.navbar-toggler {
    color: #ffffff;
    font-size: 26px;
}
.fixed-top.scrolled {
    background-color: #0c7f90!important;
    transition: background-color 200ms linear;
    opacity: 0.9;
}

